<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../public/css/global.css" />
    <title>Meu Site ExpressJS</title>
    <link rel="stylesheet" href="../../public/css/global.css" />
  </head>
  <nav class="menu">
    <a href="/">
      <img
        width="150"
        src="https://img.freepik.com/vetores-gratis/vetor-de-letra-l-maiuscula-botanica_53876-172663.jpg"
        alt=""
      />
    </a>
    <ul>
      <a href="/contato">CONTATO</a>
      <a href="/sobre">SOBRE</a>
      <a class="bt-logar" href="/logar">LOGAR</a>
    </ul>
  </nav>
  <body>
    <main>
      <h3>Página Inicial</h3>
    </main>
  </body>
</html>
